<div class="w-1/2">
    <h2> Datos Generales</h2>

    <label for="nombre">Nombre</label>
    <input type="text" placeholder="Nombre">

    <label for="nombre">Apellidos</label>
    <input type="text" placeholder="Apellidos">

    <label for="nombre">Posición laboral</label>
    <input type="text" placeholder="Posición laboral">

    <label for="nombre">Telefono</label>
    <input type="text" placeholder="Telefono">

    <label for="nombre">Email</label>
    <input type="text" placeholder="Email">

    <h2>Datos Adicionales</h2>

    Perfil Profesional
    <input type="text" placeholder="Perfil Profesional">

    <h3> Experiencia</h3>
    <span class="nota">
        Ordena la información desde los empleos más recientes hasta los más antiguos, abarcando un periodo de no más de
        quince años.
    </span>

    <h3>Formación académica</h3>
    <span class="nota">
        Incluye los títulos académicos con los que cuentes, ordenados desde el más reciente hasta el más antiguo.
    </span>

    <h3>Otras actividades</h3>
    <span class="nota">
        Añade cualquier actividad que esté relacionada con el puesto ofertado
    </span>

    <h3>Prácticas</h3>
    <span class="nota">
        Añade las practicas realizadas en otras empresas. Recuerda incluir las más relevantes para el puesto al que
        optas.
        Ordena desde el mas reciente al más antiguo
    </span>

    <h3>Referencias</h3>
    <span class="nota">
        Referenciar a antiguos compañeros o jefes suele una buena idea para optar por un nuevo puesto
    </span>

    <h3>Cursos realizados</h3>
    <span class="nota">
        Incluye la formación no reglada que te parezca relevante para el puesto, ordenados desde el más reciente hasta
        el más antiguo.</span>

    <h2>Más información</h2>

    <h3>Enlaces</h3>
    <span class="nota">
        Añade enlaces a páginas personales que puedan aportar un plus a tu currículum
    </span>

    <h3>Permiso de conducción</h3>
    <span class="nota">
        Para muchos puestos de trabajo es importante que incluyas los permisos de conducción que posees, no dudes en
        incluirlos si es importante para el puesto que optas
    </span>

    <h3>Hobbies</h3>
    <span class="nota">
        Incluir tus intereses te ayudará a aportar tu parte más personal al currículum
    </span>

    <h3>Habilidades</h3>
    <span class="nota">
        Añade un listado con habilidades que poseas y que puedan aportar valor al puesto al que optas
    </span>

    <h3>Idiomas</h3>
    <span class="nota">
        Los idiomas son fundamentales para posicionarte, no dudes en añadirlos
    </span>
</div>